<form [formGroup]="form" (ngSubmit)="login()" autocomplete="on">
  <div class="container">

    <div class="text-center m-3">
      <h2>Iniciar Sesión</h2>
    </div>

    <fieldset>
      <div class="form-field mt-3">
        <label for="email"><b>Email:</b></label>
        <input name="email" title="email" formControlName="email" type="text" required>
        <div *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || formSubmitted)" class="error-message">
          {{ getErrorMessage('email') }}
        </div>
      </div>
      <div class="form-field mt-3">
        <label for="password"><b>Contraseña:</b></label>
        <input name="password" title="contraseña" formControlName="password" type="password" required>
        <div *ngIf="form.get('password')?.invalid && (form.get('password')?.touched || formSubmitted)" class="error-message">
          {{ getErrorMessage('password') }}
        </div>
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="btn btn-success mt-4">Login</button>
    </div>
    <div *ngIf="errorMessage" class="text-center error-message mt-3">
      {{ errorMessage }}
    </div>
    <div class="text-center my-3">
      <a routerLink="/user/new">Crear una cuenta</a>
    </div>
  </div>
</form>
