<div id="app-container">
  <!-- Navbar -->
  <nav *ngIf="userEmail" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><h2>My Music</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/playlists">Playlists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/songs">Canciones</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <div class="dropdown ">
              <a class="nav-link dropdown-toggle cursor-pointer" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false"><fa-icon [icon]="faUser"></fa-icon> {{ userEmail }}</a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenu">
                <li><button class="dropdown-item" type="button" (click)="logout()"><fa-icon [icon]="faSalir" class="text-danger"></fa-icon> Cerrar Sesión</button></li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <!-- Contenido -->
  <div id="content" class="container py-2">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer *ngIf="userEmail" class="footer py-3 bg-dark text-white">
    <div class="container text-center">
      <span>© 2024 My Music por Walter Ezequiel Lopez.</span>
    </div>
  </footer>
</div>
