<div id="app-container">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><h3>My Music</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/playlists">Playlists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/songs">Canciones</a>
          </li>
        </ul>

        <div class="ms-auto me-2">
          <div class="dropdown col-auto p-0 d-flex align-items-center">
            <span class="dropdown-toggle navbar-text my-auto user" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false"><fa-icon [icon]="faUser"></fa-icon> {{ userEmail }}</span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><button class="dropdown-item" type="button" ><fa-icon [icon]="faSalir" class="text-danger"></fa-icon> Cerrar Sesión</button></li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </nav>

  <!-- Contenido -->
  <div id="content" class="container">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer class="footer py-3 bg-dark text-white">
    <div class="container">
      <p>Este es el pie de página. Puedes agregar contenido, enlaces, etc. aquí.</p>
    </div>
  </footer>
</div>
