<div class="row">
  <div class="col">
    <h2>Canciones</h2>
  </div>
  <form [formGroup]="form" class="col-auto mt-2" (ngSubmit)="getSongsByAuthor()">
    <div class="row form-group">
      <div class="input-group">
        <input name="authorName" title="Busqueda por autor" formControlName="authorName" type="text" placeholder="Buscar por autor" class="form-control" aria-describedby="basic-addon1">
        <div class="input-group-append btn-group">
          <button *ngIf="limpiarFiltro" type="button" title="Limpiar filtros" class="btn btn-danger rounded-0 align-self-start" (click)="getSongs()"><fa-icon [icon]="faXmark"></fa-icon></button>
          <button type="submit" class="btn btn-dark align-self-start rounded-0 rounded-end"><fa-icon [icon]="faSearch"></fa-icon></button>
        </div>
      </div>
    </div>
  </form>
</div>

<hr class="mt-2">

<div *ngIf="songs && songs.length > 0">
  <table class="table table-hover table-striped">
    <thead class="table-dark">
      <tr>
        <th>Canción</th>
        <th>Autor</th>
        <th>Genero</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs" class="table-row-hover">
        <td>{{ song.name }}</td>
        <td>{{ song.author }}</td>
        <td>{{ song.genre }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-sm btn-dark dropdown-toggle boton-redondo" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li class="dropdown-header"><b>Agregar a playlist:</b></li>
              <hr class="m-0">
              <li *ngFor="let playlist of playlists">
                <button class="dropdown-item" [ngClass]="{'disabled': isSongInPlaylist(song.id, playlist)}" type="button" (click)="addSong(song.id, playlist.id)">
                  {{playlist.name}}
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!songs || songs.length === 0" class="my-3">
  <div class="alert alert-secondary text-center">
    <b>No hay canciones disponibles.</b>
  </div>
</div>

<div *ngIf="errorMessage" class="error-message my-3">
  {{ errorMessage }}
</div>
