<div class="col">
  <h2>Nueva Playlist</h2>
  <hr>
</div>

<form [formGroup]="form" (ngSubmit)="addPlaylist()">
  <div class="row mt-3">

    <!-- <div class="col-auto form-group">
      <label for="playlistName"><b>Nombre:</b></label>
      <input name="playlistName" title="Nombre Playlist" formControlName="playlistName" type="text" class="form-control" required>
      <div *ngIf="form.get('playlistName')?.invalid && (form.get('playlistName')?.touched || formSubmitted)" class="error-message">
        {{ getErrorMessage('playlistName') }}
      </div>
    </div>

    <div class="col-auto form-buttons mt-4">
      <button type="submit" class="btn btn-success align-self-start">Agregar</button>
    </div> -->

    <div class="col-auto form-group mb-3">
      <label for="playlistName"><b>Nombre:</b></label>
      <div class="input-group">
        <input name="playlistName" title="Nombre Playlist" formControlName="playlistName" type="text" class="form-control" aria-describedby="basic-addon1" required>
        <div class="input-group-append">
          <button type="submit" class="btn btn-success align-self-start">Agregar</button>
        </div>
      </div>
      <div *ngIf="form.get('playlistName')?.invalid && (form.get('playlistName')?.touched || formSubmitted)" class="error-message">
        {{ getErrorMessage('playlistName') }}
      </div>
    </div>

  </div>
</form>

<div *ngIf="errorMessage" class="text-center error-message my-3">
  {{ errorMessage }}
</div>
